@use "@picocss/pico/scss/pico" with ($enable-classes: true,
  $enable-semantic-container: true,
  $semantic-root-element: "#app",
  $modules: ("content/code": false,
    "forms/input-color": false,
    "forms/input-date": true,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": true,
    "components/accordion": false,
    "components/card": true,
    "components/dropdown": true,
    "components/loading": true,
    "components/modal": false,
    "components/nav": true,
    "components/progress": false,
    "components/tooltip": true,
    "utilities/accessibility": true,
    "utilities/reduce-motion": false));